! urxvt

URxvt*background:       [50]#000000
URxvt*borderless:       1
URxvt.depth:            32
URxvt.font:             xft:DroidSansMono:size=10:antialias=true:hint=true
URxvt.matcher.button:   3
URxvt.perl-ext-common:  default,matcher
URxvt*saveLines:        4000
URxvt.scrollBar:        false
URxvt.secondaryScreen:  1
URxvt.secondaryScroll:  0
URxvt.shading:          40
URxvt*termName:         rxvt-unicode-256color
URxvt.transparent:      true
URxvt.urgentOnBell:     true
URxvt.url-launcher:     /usr/bin/chromium

! Perl extensions
URxvt.perl-ext:             default,url-select,clipboard

! Underline URLs
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.url-select.autocopy:  true
URxvt.url-select.button:    2
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true

! Clipboard 
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy

! Disable ctrl+shift 'feature'
URxvt.iso14755: false
URxvt.iso14755_52: false

! Color scheme:
!URxvt*background: #2B2B2B
URxvt*foreground: #DEDEDE
URxvt*colorUL: #86a2b0

! Black
URxvt*color0  : #2E3436
URxvt*color8  : #555753
! Red
URxvt*color1  : #CC0000
URxvt*color9  : #EF2929
! Green
URxvt*color2  : #4E9A06
URxvt*color10 : #8AE234
! Yellow
URxvt*color3  : #C4A000
URxvt*color11 : #FCE94F
! Blue
URxvt*color4  : #3465A4
URxvt*color12 : #729FCF
! Magenta
URxvt*color5  : #75507B
URxvt*color13 : #AD7FA8
! Cyan
URxvt*color6  : #06989A
URxvt*color14 : #34E2E2
! White
URxvt*color7  : #D3D7CF
URxvt*color15 : #EEEEEC
